<?php include_once('AdminHeader.html'); ?>

<div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-plus"></i> Add New Message Board</h4>
</div>

<div class="panel-body">
    <?php if(isset($error)): ?>
    <div class="alert alert-danger" role="alert"><i class="fa fa-times-circle"></i> <?php echo $error; ?></div>
    <?php endif; ?>

    <?php if(isset($success)): ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>
    <?php endif; ?>

    <form method="post">
        <div class="form-group">
            <label for="CategoryName">Add New Category</label>
            <input id="CategoryName" name="categoryName" class="form-control" placeholder="Category Name"/>            
        </div>

        <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Category</button>
        <div class="clearfix"></div>
    </form>

</div>

<?php include_once('AdminFooter.html'); ?>
