<?php include_once('AdminHeader.html'); ?>

<div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-plus-square"></i> Add New Subcategory</h4>
</div>

<div class="panel-body">
    <?php if(isset($error)): ?>
    <div class="alert alert-danger" role="alert"><i class="fa fa-times-circle"></i> <?php echo $error; ?></div>
    <?php endif; ?>

    <?php if(isset($success)): ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>
    <?php endif; ?>

    <form method="post">
        <div class="form-group">
            <label for="SelectCategoryName">Select Parent Category</label>
            <select id="SelectCategoryName" name="selectCategoryName" class="form-control" onchange="AdminEditCategorySelectBoxChange();">
                <option value="-1">-</option>
                <?php foreach($categories as $category) { ?>
                <option value="<?php echo $category->id; ?>"><?php echo $category->category; ?></option>
                <?php } ?>
            </select>
            </div>
        <div id="addSubcategoryFormGroup" class="form-group">
            <label for="CategoryName">Add New Subcategory</label>
            <input id="subcategoryName" name="subcategoryName" class="form-control" placeholder="Subcategory Name" />
        </div>

        <button class="btn btn-primary pull-right"><i class="fa fa-plus-square"></i> Add Subcategory</button>
        <div class="clearfix"></div>
    </form>

</div>

<?php include_once('AdminFooter.html'); ?>
