<div class="col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-cogs"></i> Admin Functions</h4>
        </div>
        
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseBoards"><i class="fa fa-cog"></i> Board Management</a>
                    </h4>
                </div>
                <div id="collapseBoards" class="panel-collapse collapse in">
                    <div class="list-group">
                        <a href="/AdminAddBoard.php" class="list-group-item"><i class="fa fa-plus"></i> Add New Category</a>
                        <a href="/AdminEditBoard.php" class="list-group-item"><i class="fa fa-pencil"></i> Edit Category</a>                        
                        <a href="/AdminBoards.php" class="list-group-item"><i class="fa fa-plus-square"></i> Add Subcategory</a>
                        <a href="/AdminBoards.php" class="list-group-item"><i class="fa fa-pencil-square"></i> Edit Posts</a>
                    </div>

                </div>
                                                
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseUsers"><i class="fa fa-cog"></i> User Management</a>
                    </h4>
                </div>
                <div id="collapseUsers" class="panel-collapse collapse in">
                    <div class="list-group">
                        <a href="/AdminUsers.php" class="list-group-item"><i class="fa fa-users"></i> Manage Users</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>