<div class="col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-cogs"></i> Admin Functions</h4>
        </div>
        
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Board Management <i class="fa fa-caret-down pull-right"></i>
                    </h4>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <a href="/AdminAddBoard.php" class="list-group-item"><i class="fa fa-plus margin-right-5"></i> Add New Category</a>
                        <a href="/AdminEditBoard.php" class="list-group-item"><i class="fa fa-pencil margin-right-5"></i> Edit Category</a>    
                        <a href="/AdminBoards.php" class="list-group-item"><i class="fa fa-trash-o margin-right-5"></i> Delete Category</a>                    
                        <a href="/AdminAddSubcategory.php" class="list-group-item"><i class="fa fa-plus-square margin-right-5"></i> Add Subcategory</a>
                        <a href="/AdminEditSubcategory.php" class="list-group-item"><i class="fa fa-pencil-square margin-right-5"></i> Edit Subcategory</a>
                        <a href="/AdminBoards.php" class="list-group-item"><i class="fa fa-trash margin-right-5"></i> Delete Subcategory</a>   
                    </div>

                </div>
                                                
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        User Management <i class="fa fa-caret-down pull-right"></i>
                    </h4>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <a href="/AdminUsers.php" class="list-group-item"><i class="fa fa-users margin-right-5"></i> Manage Users</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>