<?php include_once('AdminHeader.html'); ?>

    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user"></i> Viewing user <?php echo $user->username; ?></h4>
    </div>

    <div class="panel-body">
        
        <form action="../../Admin/UpdateUser.php" method="get" id="user">

            <div class="form-group">

                <label for="username">Username</label>
                <span class="form-control" id="username"><?php echo $user->username; ?></span>

            </div>

            <div class="form-group">

                <label for="is_banned">Account Banned</label>

                <select name="is_banned" class="form-control" id="is_banned">
                    <option value="0" <?php if(!$user->is_banned) echo 'selected'; ?>>No</option>
                    <option value="1" <?php if($user->is_banned)  echo 'selected'; ?>>Yes</option>
                </select>

            </div>

            <div class="form-group">

                <label for="is_admin">Administrator</label>

                <select name="is_admin" class="form-control" id="is_admin">
                    <option value="0" <?php if(!$user->is_admin) echo 'selected'; ?>>No</option>
                    <option value="1" <?php if($user->is_admin)  echo 'selected'; ?>>Yes</option>
                </select>

            </div>

            <button class="btn btn-primary" type="submit">Update</button>

        </form>        

    </div>

<?php include_once('AdminFooter.html'); ?>