<?php
 $user = GetUserById($_GET['id']);
?>

<div class="panel panel-primary">

    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-user"></i> Viewing user <?php echo $user->username; ?></h4>
    </div>

    <div class="panel-body">
        
        <form>

            <div class="form-group">

                <label for="username">Username</label>
                <span class="form-control" id="username"><?php echo $user->username; ?></span>

            </div>

            <div class="form-group">

                <label for="banned">Account Banned</label>

                <select class="form-control" id="banned">
                    <option value="0" <?php if(!$user->is_banned) echo 'selected'; ?>>No</option>
                    <option value="1" <?php if($user->is_banned)  echo 'selected'; ?>>Yes</option>
                </select>

            </div>

            <div class="form-group">

                <label for="admin">Administrator</label>

                <select class="form-control" id="admin">
                    <option value="0" <?php if(!$user->is_admin) echo 'selected'; ?>>No</option>
                    <option value="1" <?php if($user->is_admin)  echo 'selected'; ?>>Yes</option>
                </select>

            </div>

            <button class="btn btn-primary">Update</button>

        </form>        

    </div>

</div>