<?php $pageTitle = "Error";
    include_once('Include/Header.html'); ?>
<!-- AUTHOR: jgoodlet -->

<!-- AUTHOR: jgoodlet -->
<div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="inline"><i class="fa fa-exclamation-circle"></i> 404 Page Not Found</h4>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger text-center margin-bottom-none">
                Sorry we could not find the page you where looking for
            </div>
        </div>
    </div>
</div>

<?php include_once('Include/Footer.html'); ?>
