<?php $pageTitle = 'Login';
include_once('Include/Header.html'); ?>

<div class="row">

    <div class="col-lg-4 col-lg-offset-4">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4><i class="fa fa-exclamation-triangle"></i>
                    Are You Sure <br>
                    You Want To Delete <br>
                    Your <?php echo ModelFacade::GetAppTitle() ?> Account</h4>
            </div>

            <div class="panel-body" id="confirm">

                <button>YES</button>
                <button>NO</button>

            </div>

        </div>

    </div>

</div>

<?php include_once('Include/Footer.html'); ?>