<?php   $pageTitle = 'Direct Message';
        include_once('Include/Header.html'); ?>
<!--   -_-_- AUTHOR: jAsOnD -_-_- -->

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="inline"><b>Subject: </b><?php echo $selectedMsg->subject ?></h4>
        <a href="" type="button" class="btn btn-default pull-right">Reply</a></div>
    <div class="panel-body">
        <table style="width:1100px" class="table">
            <thead>
            <tr><th></th></tr>
            </thead>
            <tbody>
            <td style="width:150px;text-align: center;background-color: #F1F1F1"><p><a href="UserProfile.php?id=<?php  echo $selectedMsg->sender; ?>"><?php echo $selectedMsg->sendername ?></a></p> <br/>
                <p style="font-size: smaller"><?php echo ModelFacade::friendlyDate($selectedMsg->timeSent); ?></p></td>
            <td><?php echo nl2br( $selectedMsg->message) ?></td>

            </tbody>
        </table>
        <a href="/DirectMsgCreate.php?sendTo=<?php echo $selectedMsg->sender ?>&replySubject=re: <?php echo $selectedMsg->subject ?>" type="button" class="btn btn-primary"> Reply</a>
        <a href="/DirectMsgCreate.php?forwardMsgId=<?php echo $selectedMsg->id ?>" type="button" class="btn btn-primary"> Forward</a>

    </div>
</div>


<?php include_once('Include/Footer.html'); ?>