<!--   -_-_- AUTHOR: jAsOnD -_-_- -->
<?php include_once('Include/Header.html'); ?>

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="inline"><?php echo ModelFacade::getLoggedInUser()->username ?>'s Inbox</h4>
        <a href="/DirectMsgSent.php" type="button" class="btn btn-default pull-right"> View Sent Messages</a>
    </div>

    <div class="panel-body">

        <table style="width:1100px" class="table">
            <thead>
            <tr>
                <th style="width:700px">Message Subject</th>
                <th  style="text-align: center;">Read</th>
                <th  style="text-align: center;">Sender</th>
                <th  style="text-align: center;">Time Sent</th></tr>
            </thead>
            <?php foreach($messages as $message):;?>
            <tr>
                <td><a href="DirectMsg.php?msgId=<?php echo $message->id; ?>"><?php echo $message->subject; ?></a></td>
                <td style="font-size: 14px;text-align: center;"><?php echo ($message->isRead ? "read" : "unread") ; ?></td>
                <td style="font-size: 14px;text-align: center;"><a href="user.php?id=<?php echo $message->sender; ?>"><?php echo $message->sendername; ?></a>
                </td>
                <td style="font-size: 14px;text-align: center;">
                    <p style="font-size: smaller"><?php echo ModelFacade::friendlyDate($message->timeSent)?></p></td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
        <a href="/DirectMsgCreate.php" type="button" class="btn btn-primary"> Create New Message</a>
    </div>
</div>
<?php include_once('Include/Footer.html'); ?>
