<!--   -_-_- AUTHOR: jAsOnD -_-_- -->
<?php include_once('Include/Header.html'); ?>

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="inline"><?php echo ModelFacade::getLoggedInUser()->username ?>'s Sent Messages</h4>
        <a href="/DirectMsgInbox.php" type="button" class="btn btn-default pull-right"> View Inbox</a>
    </div>

    <div class="panel-body">
        <form action="/DirectMsgSent.php" method="post">

        <!-- TODO replace inline styling with bootstrap classes or edit external style sheet -->
        <div style="padding: 5px;" class="alert alert-success" role="alert"><h4 style="text-align: center;" ><?php echo $newMsgSent?></h4></div>

        <table style="width:1100px" class="table">
            <thead>
            <tr>
                <th style="width:30px"></th>
                <th style="width:700px">Message Subject</th>
                <th  style="text-align: center;">Sent To</th>
                <th  style="text-align: center;">Time Sent</th></tr>
            </thead>
            <?php foreach($messages as $message):;?>
            <tr>
                <td><input type="checkbox" name="delMsg[]" value="<?PHP echo $message->id?>"></td>
                <td><a href="DirectMsg.php?msgId=<?php echo $message->id; ?>"><?php echo $message->subject; ?></a></td>
                <td style="font-size: 14px;text-align: center;"><a href="user.php?id=<?php echo $message->sender; ?>"><?php echo $message->receiverName; ?></a>
                </td>
                <td style="font-size: 14px;text-align: center;">
                    <p style="font-size: smaller"><?php echo ModelFacade::friendlyDate($message->timeSent)?></p></td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
        <a href="/DirectMsgCreate.php" type="button" class="btn btn-primary"> Create New Message</a>
        <input value="Delete Selected Message" type="submit" class="btn btn-secondary">

    </div>
    </form>

</div>
<?php include_once('Include/Footer.html'); ?>
