<?php 
$pageTitle = 'Welcome';
include_once('Include/Header.html'); 
?>

<div class="container"> 
        
    <h2>Index</h2>

        <?php 
        
            if(ModelFacade::checkLoggedIn()) {
                echo "<p>Hello, " . ModelFacade::getLoggedInUser()->username . " <a href='/logout.php'>[Logout]</a></p>";
            }
        
        ?>
        <div id="boards">

            <?php foreach($categories as $category): ?>
            <h3><?php echo $category->category; ?> </h3>

            <table>
                <?php foreach($category->subcategories as $subcategory): ?>
                <tr><td><a href="/Posts.php?id=<?php echo $subcategory->id; ?>"><?php echo $subcategory->subcategory; ?></a></td></tr>
                <?php endforeach;?>
            </table>
            <?php endforeach;?>
        </div>

    </div>

<?php include_once('Include/Footer.html'); ?> 
