<?php include_once('Include/Header.html'); ?>

<h2><?php echo $subcategory->subcategory; ?> Questions</h2>

<table style="width:1100px" class="table">
    <thead>
    <tr>
        <th style="width:700px">Post</th>
        <th  style="text-align: center;">Replies</th>
        <th  style="text-align: center;">First Post</th>
        <th  style="text-align: center;">Last Post</th></tr>
    </thead>
    <?php foreach($posts as $post):;?>
    <tr>
        <td><a href="Thread.php?id=<?php echo $post->id; ?>"><?php echo $post->title; ?></a></td>
        <td style="font-size: 14px;text-align: center;"><?php echo $post->commentcount; ?></td>
        <td style="font-size: 14px;text-align: center;"><?php echo $post->username?><br>
            <?php echo $post->date?>
        </td>
        <td style="font-size: 14px;text-align: center;"><?php echo $post->lastuser?><br>
            <?php echo $post->lastdate?></td>
    </tr>
    <?php endforeach;?>
    </tbody>
</table>
<a href="NewThread.php?subcategory=<?php echo $post->id; ?>" type="button" class="btn btn-primary">  New Thread</a>

<?php include_once('Include/Footer.html'); ?>