<!--   -_-_- AUTHOR: jAsOnD -_-_- -->
<?php include_once('Include/Header.html'); ?>

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="inline"><?php echo $userDetails->username ?>'s Profile</h4>
        <a href="/DirectMsgCreate.php?sendTo=<?php echo $userDetails->id?>" type="button" class="btn btn-default pull-right"> Message User</a>
    </div>

    <div class="panel-body text-center">
        <table id="UserProfile" style="width:500px; margin: 0 300px" class="table">
            <thead>
            <tr><th></th><th></th></tr>
            </thead>
            <tbody>
            <tr class="table-bordered">
            <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>User Name</p>
            <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->username ?></td>
            </tr>
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>User Type</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo ($userDetails->is_admin)? "Admin":"Standard"; ?></td>
            </tr>
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>Total Posts</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->totalPosts ?></td>
            </tr>
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>Total Comments</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->totalComments ?></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<?php include_once('Include/Footer.html'); ?>
