<!--   -_-_- AUTHOR: jAsOnD -_-_- -->
<?php include_once('Include/Header.html'); ?>

<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="inline"><?php echo $userDetails->username ?>'s Profile</h4>
        <?php
        if ($userDetails->id !== $currentUser->id )
        ?>
    </div>

    <div class="panel-body text-center">
        <table id="UserProfile" style="width:500px; margin: 0 300px" class="table">
            <thead>
            <tr><th></th><th></th></tr>
            </thead>
            <tbody>
            <tr class="table-bordered">
            <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>User Name</p>
            <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->username ?></td>              
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>User Type</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo ($userDetails->is_admin)? "Admin":"Standard"; ?></td>
            </tr>
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>Total Threads</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->totalPosts ?></td>
            </tr>
            <tr class="table-bordered">
                <td style="width:250px;text-align: center;background-color: #F1F1F1"><p>Total Comments</p>
                <td style="width:250px;text-align: center;background-color: #F9F9F9"><?php echo $userDetails->totalComments ?></td>
            </tr>
            </tbody>
        </table>
        <br>

        <!-- TODO move styling to external stylesheet -->
        <div id="profile_buttons" style="margin:0 25% 50px 25%; width: 50%">
        <?php
        if ($userDetails->id === $currentUser->id ) {
            echo '<a href="/DeleteUser.php" type="button" class="btn btn-danger pull-right"> DELETE ACCOUNT</a>';
            echo '<a href="#" type="button" class="btn btn-warning pull-left"> CHANGE EMAIL </a>';
        }
            else
            echo '<a href="/DirectMsgCreate.php?sendTo=<'.$userDetails->id.'" type="button" class="btn btn-primary"> Message User</a>';
            ?>
        </div>
    </div>
<div class="panel-heading">
    <h4 class="inline text-center"> <?php echo $userDetails->username ?>'s Threads </h4>
</div>

    <div class="panel-body">

        <table id="subcategoryThreads" style="width:1100px" class="table">
            <thead>
            <tr>
                <th style="width:200px; text-align: center;"> Category </th>
                <th style="width:500px">Thread</th>
                <th  style="text-align: center;">Replies</th>
                <th  style="text-align: center;width: 170px;">Posted on</th>
                <?php if(ModelFacade::checkLoggedIn() && ModelFacade::getLoggedInUser()->isAdmin) { ?>
                <th>Admin</th><?php } ?>
            </tr>

            </thead>
            <?php foreach($userThreads as $thread):;?>
            <tr>

                <td style="font-size: 14px;text-align: center;">
                    <?php echo $thread->cat; ?> <br> <?php echo $thread->subcat; ?>

                </td>

                <td><a <?php if($thread->closed){ ?>style="color: #636363" <?php ;}?> href="Thread.php?id=<?php echo $thread->id; ?>"><?php echo $thread->title; ?> <?php if($thread->closed) { echo "(Thread Closed)"; } ?></a>

                </td>
                <td style="font-size: 14px;text-align: center;">
                    <?php echo $thread->commentcount; ?>

                </td>
                <td style="font-size: 14px;text-align: center;">
                    <p style="font-size: smaller"><?php echo ModelFacade::friendlyDate($thread->date)?></p>
                </td>

                <?php if(ModelFacade::checkLoggedIn() && ModelFacade::getLoggedInUser()->isAdmin) { ?>
                <?php if ($thread->closed) { ?>
                <td>Thread Closed</td>
                <?php } else { ?>
                <td> <p class="text-danger"> <a href="/AdminCloseThread.php?id=<?php echo $thread->id; ?>"><i class="fa fa-times-circle-o"></i> Close Thread</a></p> </td>
                <?php }} ?>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>
</div>
<?php include_once('Include/Footer.html'); ?>
